<?xml version="1.0" encoding="utf-8"?><manifest>
	<search_option name="MATCH_WHOLE_WORD">False</search_option>
	<search_option name="MATCH_CASE">False</search_option>
	<search_option name="WRAP_AROUND">False</search_option>
	<search_option name="FOLLOW_CURRENT_DOC">True</search_option>
	<search_option name="INCLUDE_SUBFOLDER">False</search_option>
	<search_option name="INCLUDE_HIDDEN">True</search_option>
	<search_option name="REGEX_SEARCH">False</search_option>
	<shortcut name="ACTIVE_KEY1">ctrl</shortcut>
	<shortcut name="ACTIVE_KEY2">shift</shortcut>
	<shortcut name="ACTIVE_KEY3">F</shortcut>
	<result_highlight name="FOREGROUND_COLOR">#ffffffff0000</result_highlight>
	<result_highlight name="BACKGROUND_COLOR">red</result_highlight>
</manifest>